body {
  margin: 0;
  padding: 0;
  background: wheat;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: auto;
}

.board-container {
  width: 720px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.info-container {
  font-size: 28px;
  background: violet;
}

.tile {
  width: 230px;
  height: 230px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  background-color: #78bec5;
  transition: all 0.3s ease-out;
}

.tile:hover {
  background: #262934;
  opacity: 0.9;
}

.selected {
  background-color: green;
}

